.RecipeTitle-container {
    display: flex;
    flex-direction: column;
    padding-left: 7em;
    padding-right: 7em;
    width: 100%;
    background-color: seashell;
}
.first-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.RecipeTitle {
    font-size: x-large;
}
.RecipeTitle:active {
    transform: translateY(2px);
}

.Title-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    margin: 0.5em;
    padding: 0.5em;
    font-size: large;
    border: none;
    background: none;
    cursor: pointer;
}
.Buttons:active {
    transform: translateY(2px);
}

.SearchIcon {
    background-color: #f9c74f;
    font-size: small;
    height: 40px;
    width: 40px;
    border-radius: 0px;
}
.SearchIcon:hover {
    border-radius: 0px;
    background: #f9c74f;
    box-shadow:  4px 4px 14px #645020, 
                -4px -4px 14px #ffff7e;    
}

.search-input {
        background-color: seashell;
        border: 1px solid rgba(66, 66, 66, 0.25);
        color: black;
        outline: none;
        width: 300px;
        height: 40px;
        padding: 1em;
}

.menu-panel {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(66, 66, 66, 0.25);
    border-bottom: 1px solid rgba(66, 66, 66, 0.25);
}
