language: node_js

install:
    - docker-compose up -d
    - npm install
#    - npm run lint
#    - npm run build
    - npm run build:front
#    - npm run test
    - npm test:e2e
    - npm run migration

node_js:
  - "12.18.3"