version: '3.7'

services:
  nginx:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 80:80
      - 443:443
    volumes:
      - "./:/www/"


  postgres-db:
    image: postgres
    restart: always
    env_file:
      - env
    volumes:
      - database-data:/var/lib/postgresql/data/
    ports:
      - 5432:5432

  adminer:
    image: adminer
    ports:
      - 8080:8080
    depends_on:
      - postgres-db

volumes:
  database-data: