.filter-container {
    float: left;
    width: 300px;
    height: 100%;
}

.filter-name {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.filter-description {
    margin-bottom: 35px;
    font-size: 14px;
    color: lightslategray;
}

.filter-type {
    font-size: 16px;
    margin: 20px 0;
}

.filter-button {
    margin: 4px 4px 4px 0;
    padding: 0.30em 0.8em;
    border: none;
    border-radius: 10rem;
    font-family: Catamaran, sans-serif;
    font-size: 14px;
    user-select: none;
}

.filter-button:focus {
    outline: none;
}

.filter-button:hover {
    background-color: #9fa7b1;
}