.filter-container {
    float: left;
    width: 300px;
    height: 100%;
}

.filter-name {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.filter-description {
    margin-bottom: 35px;
    font-size: 14px;
    color: lightslategray;
}

.filter-type {
    font-size: 16px;
    margin: 20px 0;
}