.TopRecipes {
  width: 100%;
  height: 60%;
  background-color: darkgoldenrod;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RecipesCard_wrapper {
  min-width: 22%;
  height: 90%;
  transition: all 0.6s;
  margin: 0 1.5%;
}

.TopRecipes_wrapper {
  width: 80%;
  height: 95%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}
