.DescriptionSite {
  width: 100%;
  height: 30%;
  border: 1px solid yellow;
  background-color: rosybrown;
}

.DescriptionSite_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  border: 1px solid crimson;
  text-align: center;
  margin: 0 auto;
}

.DescriptionSite_content h1 {
  margin-bottom: 2%;
  font-size: 5vw;
}

.DescriptionSite_content p {
  width: 60%;
  font-size: 1vw;
}
