.description-site {
  width: 100%;
  height: 30%;
  font-family: 'Times New Roman', Times, serif;
}

.description-site__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.description-site__content h1 {
  margin-bottom: 2%;
  font-size: 5vw;
}

.description-site__content p {
  width: 60%;
  font-size: 1vw;
}
