.RecipesCard {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background-color: rgb(170, 165, 165);
  transition: all 0.6s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
  transform: translateY(0);
  cursor: default;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif;
}

.RecipesCard:hover {
  transform: translateY(-6px);
  transition: all 0.6s;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.582);
}

.RecipesCard_descriptions {
  width: 98%;
  height: 70%;
  position: absolute;
  bottom: -43%;
  background-color: white;
  transition: all 0.5s;
  border-radius: 4px;
  padding: 3% 4%;
  border: 1px solid black;
  margin: 0 1%;
  cursor: pointer;
}
.RecipesCard_descriptions_rating {
  width: auto;
  height: 10%;
  /* border-bottom: 1px solid black; */
  /* background-color: rgba(184, 135, 11, 0.438); */
  margin-bottom: 1%;
  margin-right: 2%;
  display: inline-block;
  color: #f7cb15;
  font-size: 0.9vw;
}

.RecipesCard_descriptions_reviews {
  width: 30%;
  height: 10%;
  border: 1px solid black;
  display: inline-block;
  margin-left: 1%;
  border-radius: 3px;
  text-align: center;
  padding-top: 1%;
  font-weight: bold;
  font-size: 0.8vw;
}

.RecipesCard_descriptions_titleTimeAndDifficult {
  background-color: #f2f2f2;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 10px;
}
.RecipesCard_descriptions_titleTimeAndDifficult p {
  display: inline-block;
  margin-right: 3%;
  margin-bottom: 3%;
  font-size: 0.9vw;
}
.RecipesCard_descriptions_titleTimeAndDifficult h2 {
  margin-bottom: 1%;
  font-size: 1.2vw;
}

.RecipesCard_descriptions_favoriteButton {
  width: 10%;
  height: 12%;
  border: 1px solid black;
  /* background-color: rgb(148, 28, 218); */
  margin-left: 27%;
  text-align: center;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.76);
  transition: all 0.2s;
  margin-top: -2%;
}
.RecipesCard_descriptions_favoriteButton:active {
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.76);
  transition: all 0.2s;
}
.favoriteButton {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  transform: scale(1);
}
.favoriteButton:active {
  transform: scale(0.9);
  transition: all 0.2s;
}
.favoriteButton_fill {
  color: #dc143c;
}
.RecipesCard_descriptions_shortDescription {
  width: 100%;
  height: 60%;
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 4%;
  border-radius: 5px;
  font-size: 0.9vw;
}

.TimeIcon {
  margin-bottom: -2%;
}

.Difficult {
  margin-bottom: -4%;
  color: crimson;
}

.RecipesCard:hover > .RecipesCard_descriptions {
  transition: all 0.6s;
  bottom: -1%;
}
