body {
    margin: 0px;
    font-family: Catamaran, sans-serif;
}

.app-container {
  height: 100%;
}

.body-container {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}