body {
  margin: 0px;
  font-family: Catamaran, sans-serif;
}

.app-container {
  height: 100%;
  /* width: 100vw;
  height: 100vh; */
}

.body-container {
  width: 80%;
  height: 100%;
  margin: auto;
}
