body {
  margin: 0px;
  font-family: Catamaran, sans-serif;
}

.app-container {
  height: 100%;
}

.body-container {
  width: 100%;
  min-height: 92vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
