body {
    margin: 0px;
    font-family: Catamaran, sans-serif;
  }
  
  .app-container {
    height: 100%;
  }
  
  .body-container {
    width: 100%;
    min-height: calc(100vh - 80px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  