.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  background-color: #000;
}

.header-nav-container ul {
  display: flex;
  margin-right: 50px;
}

.nav-button {
  display: flex;
  height: 18px;
  margin-right: 50px;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
}

.nav-button:hover {
  text-decoration: underline;
}

.nav-button li {
  margin-left: 10px;
}
